body{
    background-color: gainsboro;
    color: black;
    font-size: 2vw;
    text-align: center
}

.Container{
    position:absolute;
    font-size: 3vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 25%;
    height: 50%;

    top:40%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.Text{
    position:absolute;
    font-size: 2vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 75%;
    height: 80%;
    text-align: left;
    
    top:0%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.CV{
    color: deepskyblue;
    float: left;
    width: 100%;
    background-color: #087E8B;
    right: 50%;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.Experiences{
    color: deepskyblue;
    float: left;
    width: 100%;
    background-color: #FF5A5F;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.Objectifs{
    color: deepskyblue;
    float: left;
    width: 100%;
    background-color: #3C3C3C;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.Diplomes{
    color: deepskyblue;
    float: left;
    width: 100%;
    background-color: #6C464F;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.CV:hover{
  background-color: #BFC0C0;
}

.Experiences:hover{
  background-color: #BFC0C0;
}

.Objectifs:hover{
  background-color: #BFC0C0;
}

.Diplomes:hover{
  background-color: #BFC0C0;
}